<a href="#!setting"><h1 style="text-align: center;">Ôn thi GPLX {{ licenseCode }} <span style="color:#0171ec" class="fa fa-cog"></span></h1></a>

<div class="page page-home">
	<div>
	<div style="display: flex;">
		<a class="item item-full" href="#!list">
			<i class="fa-home-page fa-th"></i>
			<div>{{numofQuestion}} câu hỏi</div>
		</a>
		<a class="item item-wrong" href="#!list-wrong">
			<i class="fa-home-page fa-th"></i>
			<div>Các câu sai</div>
		</a>
	</div>
	<div style="display: flex;">
		<a class="item item-recent" href="#!list-sign">
			<i class="fa-home-page fa-arrow-right"></i>
			<div>Biển báo</div>
		</a>
		<a class="item item-reset" href="#!reset">
			<i class="fa-home-page fa-undo"></i>
			<div>Làm lại</div>
		</a>
	</div>
	<div style="display: flex;">
		<a class="item item-danger" href="#!question?index=0&topic=8">
			<i class="fa-home-page fa-heart-o"></i>
			<div>{{numofDanger}} câu liệt</div>
		</a>
		<a class="item item-topic" href="#!list-topic">
			<i class="fa-home-page fa-cubes"></i>
			<div>Chủ đề</div>
		</a>
	</div>
	<div style="display: flex;">
		<a class="item item-exam" href="#!list-exam">
			<i class="fa-home-page fa-graduation-cap"></i>
			<div>Thi theo bộ đề</div>
		</a>
		<a class="item item-hint" href="#!user-guide">
			<i class="fa-home-page fa-question"></i>
			<div>Hướng dẫn</div>
		</a>
	</div>
	</div>
</div>
