<h1 style="text-align: center;">600 câu hỏi thi sát hạch lái xe</h1>
<div class="page page-home">
	<div>
	<div style="display: flex;">
		<a class="item item-full" href="#!list">
			<i class="fa-home-page fa-th"></i>
			<div>600 câu hỏi</div>
		</a>
		<a class="item item-wrong" href="#!list-wrong">
			<i class="fa-home-page fa-th"></i>
			<div>Các câu sai</div>
		</a>
	</div>
	<div style="display: flex;">
		<a class="item item-recent" href="#!details">
			<i class="fa-home-page fa-arrow-right"></i>
			<div>Câu hỏi gần nhất</div>
		</a>
		<a class="item item-reset" href="#!reset">
			<i class="fa-home-page fa-undo"></i>
			<div>Làm lại</div>
		</a>
	</div>
	<div style="display: flex;">
		<a class="item item-danger" href="#!list-danger">
			<i class="fa-home-page fa-question"></i>
			<div>60 câu liệt</div>
		</a>
		<a class="item item-hint" href="#!user-guide">
			<i class="fa-home-page fa-question"></i>
			<div>Hướng dẫn</div>
		</a>
	</div>
	</div>
</div>