<div id="list-danger-page" class="page has-menu">
    <h1 style="text-align: center;">Biển báo</h1>
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div id="list">
        <div class="item" ng-repeat="q in list">
            <a href="#!sign?index=0&topic={{$index}}">
                <div>
                    <b>{{ q.display }}</b>
                </div>
                <div>{{ q.subTitle }}</div>
            </a>
        </div>
    </div>
</div>