<div id="list-danger-page" class="page has-menu">
    <h1 style="text-align: center;">Chủ đề</h1>
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div id="list">
        <div class="item" ng-repeat="q in list" style="display: {{ q.num > 0 ? 'block' : 'none' }};">
            <a href="#!question?index=0&topic={{$index}}">
                <div>
                    <b style="color: #0171ec;">{{ q.display }}</b>
                </div>
                <div>{{ q.subTitle }}</div>
            </a>
        </div>
    </div>
</div>