<div id="list-danger-page" class="page has-menu">
    <h1 style="text-align: center;">Biển báo</h1>
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div id="list">
        <div class="item" ng-repeat="q in list">
            <a href="#!signs?index=0&signType={{q.signType}}">
                <div>
                    <div style="display: flex; align-items: center;">
                        <img style="width: 20px; height: 20px; margin-right: 10px;"
                    src="images/assets/topic_sign_{{$index}}.png"><b style="color: #0171ec;"> {{ q.display }}</b>
                    </div>
                    <div style="color: darkgray;">{{ q.subTitle }}</div>
                </div>
            </a>
        </div>
    </div>
</div>

