<div id="list-page" class="page has-menu">
    <h1 style="text-align: center;">Ôn tập</h1>
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div style="font-size: 18px; font-weight: bold; text-align: center; padding: 10px;">
        <div>
            <div style="width: 100%; display: flex;padding: 10px;">
                <img style="height: 24px; width:24px;" src="images/assets/check.png" />
                <span style = "padding-left: 10px" id="countDung" style="color: #449d44;">{{ countDung }} đúng</span>
            </div>

            <div style="width: 100%; display: flex; padding: 10px;">
                <img style="height: 24px; width:24px;" src="images/assets/wrongcheck.png" />
                <span style = "padding-left: 10px" id="countSai" style="color: #d9534f;">{{ countSai }} sai</span>
            </div>

            <div style="width: 100%; display: flex;padding: 10px;">
                <img style="height: 24px; width:24px;" src="images/assets/uncheck.png" />
                <span style = "padding-left: 10px" id="countChuaLam">{{ countChuaLam }} chưa làm</span>
            </div>
        </div>
    </div>
    <div id="list">
        <a style="border-radius: 5px;" ng-repeat="item in list" class="{{ item.css_class }}"
            href="#!details?index={{ item.index }}">{{ item.index }}</a>
    </div>
</div>
