<div id="list-exam-page" class="page has-menu">
    <h1 style="text-align: center;margin-bottom: 0px">Bộ đề thi {{licenseCode}}</h1>
    <h5 style="text-align: center;margin-top: 0px;font-weight: normal">(Phải trả lời đúng {{licensePass}} câu và không sai câu liệt)</h5>
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div id="list">
        <div id="exam" ng-repeat="item in list" style = "height: 130px;width: 165px;{{ item.css_class }}">
            <a style="{{item.title_css}} font-weight:bold;" href="#!exam?examCode={{ item .index}}">Đề số {{ item.index }}</a>
            
            <div style="width: 100%; display: flex;align-items: center;padding: 2px">
                <div style="width: 100%; display: flex;align-items: center;padding: 2px">
                    <img style="height: 20px; width:20px;" src="images/assets/check.png" />
                    <span style="padding-left: 10px; font-size:16px" style="color: #449d44;">{{ item.passed }}</span>
                </div>
                <div style="width: 100%; display: flex;align-items: center; padding: 2px">
                    <img style="height: 20px; width:20px;" src="images/assets/wrongcheck.png" />
                    <span style="padding-left: 10px; font-size:16px" style="color: #d9534f;">{{ item.failed }}</span>
                </div>
            </div>

            <div style="width: 100%; display: flex;align-items: center;padding: 2px">
                <div style="width: 100%; display: flex;align-items: center;padding: 2px">
                    <img style="height: 20px; width:20px;" src="images/assets/uncheck.png" />
                    <span style="padding-left: 10px; font-size:16px">{{ item.unchecked }}</span>
                </div>
                <div style="width: 100%; display: flex;align-items: center;padding: 2px">
                    <img style="height: 20px; width:20px;" src="images/assets/clock.png" />
                    <span style="padding-left: 10px; font-size:16px">{{ item.duration }}</span>
                </div>
            </div>
            <div style="width: 100%; align-items: center;padding: 2px">{{ item.result }}</div>
        </div>

    </div>
</div>