<h1 style="text-align: center;">Cài đặt lại</h1>
<div class="page has-menu">
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div>
        Thao tác này sẽ khôi phục dữ liệu của phần mềm trở về thời điểm ban đầu, mọi câu trả lời mà bạn đã làm sẽ bị xóa.
        Bạn có chắc chắn muốn tiếp tục?
    </div>
    <p style="text-align: center;">
        <a ng-click="reset()" class="btn btn-danger" href="javascript:void(0)">Có</a>
        <a class="btn" style="margin-left: 5px;" href="#!index">Không</a>
    </p>
</div>