<div class="page has-menu" style="text-align: justify;">
    <div class="menu">
        <a class="item" href="#!index">
            <i class="fa fa-home"></i>
        </a>
    </div>

    <h3>1. Danh sách câu hỏi</h3>

    <p>
        Từ màn hình chính, click "Danh sách câu hỏi". Danh sách này có chứa 600 câu hỏi thi lý thuyết sát hạch lái xe.
    </p>
    <p>
        Những câu hỏi chưa làm sẽ có nền màu trắng, câu làm đúng có nền màu xanh, câu làm sai có nền màu đỏ.
    </p>
    <p>
        Click vào một câu hỏi để bắt đầu luyện tập từ câu hỏi đó.
    </p>

    <h3>2. Chi tiết câu hỏi</h3>

    <p>
        Đây là màn hình hiển thị nội dung câu hỏi và các phương án trả lời.
        Hãy lựa chọn các phương án trả lời phù hợp và nhấn vào biểu tượng mũi tên để đi đến câu hỏi tiếp theo hoặc trước đó.
    </p>
    <p>
        Khi cần trợ giúp, hãy nhấn vào biểu tượng dấu hỏi, đáp án và gợi ý trả lời (nếu có) sẽ được hiển thị.
    </p>

    <h3>3. Danh sách câu làm sai</h3>

    <p>
        Để xem danh sách câu đã làm sai, từ màn hình chính, click vào "câu sai".
    </p>

    <h3>4. Danh sách câu bị điểm liệt</h3>

    <p>
        Câu liệt là câu mà chọn sai sẽ bị đánh rớt cả bài. Để xem danh sách các câu liệt, từ màn hình chính, click vào "60 câu liệt". 60 câu này bắt buộc phải học thuộc lòng.
    </p>

    <h3>5. Câu hỏi gần nhất</h3>

    <p>
        Để đi nhanh đến câu hỏi được xem gần đây nhất, từ màn hình chính click vào "Câu hỏi gần nhất".
    </p>

    <h3>6. Xóa dữ liệu làm lại từ đầu</h3>

    <p>
        Để xóa dữ liệu làm lại từ đầu, ở màn hình chính click vào "Làm lại".
    </p>
</div>